Language: ObjC
BasedOnStyle: Google
Standard: Cpp11
AlignTrailingComments: false
NamespaceIndentation: All
DerivePointerAlignment: false
AlwaysBreakBeforeMultilineStrings: false
AccessModifierOffset: -2
ObjCSpaceBeforeProtocolList: true
SortIncludes: true
ColumnLimit: 120
IndentWidth: 4
ObjCBlockIndentWidth: 4
PointerAlignment: Right
ObjCSpaceAfterProperty: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
ReflowComments: false
SpacesBeforeTrailingComments: 1
PenaltyBreakComment: 0
Cpp11BracedListStyle: false
SpacesInContainerLiterals: false
BreakBeforeBinaryOperators: NonAssignment
MaxEmptyLinesToKeep: 1
