{"swagger":"2.0","info":{"version":"user-v1","title":"Meniga Cashback API User-V1","description":""},"host":"cashbackapi.umw.meniga.net","basePath":"/user/v1","schemes":["http"],"paths":{"/offers":{"get":{"tags":["Offers"],"summary":"Get offers","operationId":"Offers_GetOffers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"skip","in":"query","description":"Number of records to skip","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return","required":false,"type":"integer","format":"int32"},{"name":"skipMeta","in":"query","description":"Skip returning meta object. Note: Total count will not be skipped.","required":false,"type":"boolean"},{"name":"filter.states","in":"query","description":"Offer states to filter by. Expected values \"all, activated, available, declined, expired\".","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"filter.offerIds","in":"query","description":"Offer ids to filter by. The {States} and {ExpiredWithRedemptionsOnly} parameters will be ignored when this parameter is set.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.expiredWithRedemptionsOnly","in":"query","description":"Expired offers without any redemption transactions will be excluded when this parameter is set to true.","required":false,"type":"boolean"},{"name":"latitude","in":"query","description":"Central latitude for location filtering.","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Central longitude for location filtering.","required":false,"type":"number","format":"double"},{"name":"radiusKm","in":"query","description":"Radius in km for location filtering.","required":false,"type":"number","format":"double"},{"name":"limitLocations","in":"query","description":"The maximum number of locations to be returned (per offer).","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns a list of offers","schema":{"$ref":"#/definitions/JsonApiDocument[Offer[],OffersSummary]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{id}":{"get":{"tags":["Offers"],"summary":"Get offer by id","operationId":"Offers_GetOffer","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the offer","required":true,"type":"integer","format":"int32"},{"name":"latitude","in":"query","description":"Central latitude for location filtering.","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Central longitude for location filtering.","required":false,"type":"number","format":"double"},{"name":"radiusKm","in":"query","description":"Radius in km for location filtering.","required":false,"type":"number","format":"double"},{"name":"limitLocations","in":"query","description":"The maximum number of locations to be returned (per offer).","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns a single offer","schema":{"$ref":"#/definitions/JsonApiDocument[Offer]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"404":{"description":"Resource not found","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{token}":{"get":{"tags":["Offers"],"summary":"Get offer by token","operationId":"Offers_GetOffer","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"token","in":"path","description":"Offer validation token","required":true,"type":"string"}],"responses":{"200":{"description":"Offer","schema":{"$ref":"#/definitions/JsonApiDocument[Offer]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"404":{"description":"Resource not found","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{id}/merchantLocations":{"get":{"tags":["Offers"],"summary":"Get nearby merchant locations for offer","operationId":"Offers_GetMerchantLocations","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Offer id","required":true,"type":"integer","format":"int32"},{"name":"latitude","in":"query","description":"Central latitude for location filtering.","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Central longitude for location filtering.","required":false,"type":"number","format":"double"},{"name":"radiusKm","in":"query","description":"Radius in km for location filtering.","required":false,"type":"number","format":"double"},{"name":"limitLocations","in":"query","description":"The maximum number of locations to be returned (per offer).","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns nearby merchant locations for the offer","schema":{"$ref":"#/definitions/JsonApiDocument[ICollection[MerchantLocation]]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"404":{"description":"Resource not found","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{id}/redemptions":{"get":{"tags":["Offers"],"summary":"Get offer redemption transactions","operationId":"Offers_GetOfferTransactions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Offer id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns a list of offer redemption transactions","schema":{"$ref":"#/definitions/JsonApiDocument[RedemptionTransaction[]]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{id}/seen":{"post":{"tags":["Offers"],"summary":"Mark offer as seen","operationId":"Offers_SetOfferSeen","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Offer id","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"Offer marked as seen"},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{id}/activate":{"post":{"tags":["Offers"],"summary":"Activate offer","operationId":"Offers_ActivateOffer","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Offer id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Offer activated","schema":{"$ref":"#/definitions/JsonApiDocument[Offer]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"404":{"description":"Resource not found","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}},"delete":{"tags":["Offers"],"summary":"Decline offer","operationId":"Offers_DeclineOffer","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Offer id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Offer declined","schema":{"$ref":"#/definitions/JsonApiDocument[Offer]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"404":{"description":"Resource not found","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{token}/activate":{"post":{"tags":["Offers"],"summary":"Activate offer by token","operationId":"Offers_ActivateOffer","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"token","in":"path","description":"Offer validation token","required":true,"type":"string"}],"responses":{"200":{"description":"Offer activated","schema":{"$ref":"#/definitions/JsonApiDocument[Offer]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"404":{"description":"Resource not found","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/{id}/similarBrandSpending":{"get":{"tags":["Offers"],"summary":"Get similar brand spending","operationId":"Offers_GetSimilarBrandSpending","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the offer","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns similar brand spending","schema":{"$ref":"#/definitions/JsonApiDocument[BrandSpending[],SimilarBrandSpendingDetails]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/enable":{"post":{"tags":["Offers"],"summary":"Enable offers","operationId":"Offers_EnableOffers","consumes":[],"produces":["application/json","text/json"],"responses":{"204":{"description":"Offers enabled"},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}},"delete":{"tags":["Offers"],"summary":"Disable offers","operationId":"Offers_DisableOffers","consumes":[],"produces":["application/json","text/json"],"responses":{"204":{"description":"Offers disabled"},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/offers/acceptTermsAndConditions":{"post":{"tags":["Offers"],"summary":"Accept offer terms and conditions","operationId":"Offers_AcceptTermsAndConditions","consumes":[],"produces":["application/json","text/json"],"responses":{"204":{"description":"Offer terms and conditions accepted"},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/redemptions":{"get":{"tags":["Redemptions"],"summary":"Get offer redemption transactions","description":"Paging can be done by using the skip and take parameters.\r\nPeriod filtering can be done with the fromDate and toDate parameters.\r\nThe dateTo value is exclusive except when on same day as dateFrom.\r\nMeta data includes info on all redemptions, not just the filtered transactions.","operationId":"Redemptions_GetRedemptions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"dateFrom","in":"query","description":"The inclusive transaction date to search from","required":false,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","description":"The exlusive transaction date to search to same day as fromDate is included","required":false,"type":"string","format":"date-time"},{"name":"skip","in":"query","description":"Number of records to skip","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns a list of offer redemption transactions","schema":{"$ref":"#/definitions/JsonApiDocument[RedemptionTransaction[],RedemptionSummary]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/reimbursementAccounts":{"get":{"tags":["ReimbursementAccounts"],"summary":"Get reimbursement accounts","operationId":"ReimbursementAccounts_GetReimbursementAccounts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"includeInactive","in":"query","description":"Include inactive reimbursement accounts","required":false,"type":"boolean"},{"name":"skip","in":"query","description":"Number of records to skip","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns a list of reimbursement accounts","schema":{"$ref":"#/definitions/JsonApiDocument[ReimbursementAccount[],JsonApiTotalCount]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}},"post":{"tags":["ReimbursementAccounts"],"summary":"Add reimbursement account","description":"Only one active reimbursement account per user is allowed. Therefore, when a reimbursement account is added\r\nall existing active reimbursement accounts are deactivated.","operationId":"ReimbursementAccounts_AddReimbursementAccount","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"account","in":"body","description":"Reimbursement account","required":true,"schema":{"$ref":"#/definitions/CreateReimbursementAccount"}}],"responses":{"201":{"description":"Reimbursement account created","schema":{"$ref":"#/definitions/JsonApiDocument[ReimbursementAccount]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiBadRequest]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/reimbursementAccounts/{id}":{"get":{"tags":["ReimbursementAccounts"],"summary":"Get reimbursement account","operationId":"ReimbursementAccounts_GetReimbursementAccount","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Reimbursement account id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Returns a reimbursement account","schema":{"$ref":"#/definitions/JsonApiDocument[ReimbursementAccount]"}},"401":{"description":"Authorization has been denied for this request","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"404":{"description":"Resource not found","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiError]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/reimbursementAccounts/types":{"get":{"tags":["ReimbursementAccounts"],"summary":"Get reimbursement account types","operationId":"ReimbursementAccounts_GetReimbursementAccountTypes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"skip","in":"query","description":"Number of records to skip","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns a list of reimbursement account types","schema":{"$ref":"#/definitions/JsonApiDocument[ReimbursementAccountType[],JsonApiTotalCount]"}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/JsonApiErrorDocument[JsonApiServerError]"}}}}},"/translations":{"get":{"tags":["Translations"],"operationId":"Translations_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"request.context","in":"query","required":false,"type":"string"},{"name":"request.culture","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonApiDocument[KeyValue[]]"}}}}},"/translations/context":{"get":{"tags":["Translations"],"operationId":"Translations_GetByKey","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"request.key","in":"query","required":false,"type":"string"},{"name":"request.context","in":"query","required":false,"type":"string"},{"name":"request.culture","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonApiDocument[KeyValue[]]"}}}}},"/translations/languages":{"get":{"tags":["Translations"],"operationId":"Translations_GetLanguages","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonApiDocument[CultureLanguage[]]"}}}}}},"definitions":{"OffersFilter":{"description":"Offer filter","type":"object","properties":{"states":{"description":"Offer states to filter by. Expected values \"all, activated, available, declined, expired\".","type":"array","items":{"type":"string"}},"offerIds":{"description":"Offer ids to filter by. The {States} and {ExpiredWithRedemptionsOnly} parameters will be ignored when this parameter is set.","type":"array","items":{"format":"int32","type":"integer"}},"expiredWithRedemptionsOnly":{"description":"Expired offers without any redemption transactions will be excluded when this parameter is set to true.","type":"boolean"}}},"LocationFilter":{"description":"Location filter model","type":"object","properties":{"latitude":{"format":"double","description":"Central latitude for location filtering.","type":"number"},"longitude":{"format":"double","description":"Central longitude for location filtering.","type":"number"},"radiusKm":{"format":"double","description":"Radius in km for location filtering.","type":"number"},"limitLocations":{"format":"int32","description":"The maximum number of locations to be returned (per offer).","type":"integer"}}},"JsonApiDocument[Offer[],OffersSummary]":{"description":"A document wrapper for API responses","required":["data","meta"],"type":"object","properties":{"data":{"description":"Primary data","type":"array","items":{"$ref":"#/definitions/Offer"}},"meta":{"$ref":"#/definitions/OffersSummary","description":"Meta object"}}},"Offer":{"description":"Offer","required":["id","title","brandId","brandName","validationToken","state","rewardType","reward","offerType","totalRedeemedAmount","minimumPurchaseAmount","daysLeft","validFrom","validTo","merchantId","merchantName","merchantDeclined","activateOfferOnFirstPurchase","totalSpendingAtSimilarBrands","totalSpendingOnOffer","offerSimilarBrandsSpendingRatio","seen"],"type":"object","properties":{"id":{"format":"int32","description":"Offer id","type":"integer"},"title":{"description":"Offer title","type":"string"},"description":{"description":"Offer description","type":"string"},"brandId":{"format":"int64","description":"Brand id for the offer. If the offer is for a specific merchant then this property will be zero.","type":"integer"},"brandName":{"description":"Brand name for the offer. If the offer is for a specific merchant then this property will be empty.","type":"string"},"validationToken":{"description":"Offer validation token that can be used to fetch and activate offers without being logged in (email etc)","type":"string"},"state":{"description":"Offer state (Available, Activated, Expired, Declined)","type":"string"},"rewardType":{"description":"Offer reward type (Percentage or FixedAmount)","type":"string"},"reward":{"format":"double","description":"Offer reward. If the RewardType is Percentage then this will return the percentage, otherwise it returns the fixed reward amount.","type":"number"},"offerType":{"description":"Offer type","enum":["None","Onboarding","Loyalty","Uplift","Rescue","Exclusive"],"type":"string"},"totalRedeemedAmount":{"format":"double","description":"Total amount redeemed","type":"number"},"minimumPurchaseAmount":{"format":"double","description":"Minimum purchase amount. Rewards are only given when purchases exceed this amount.","type":"number"},"maximumRedemptionPerOffer":{"format":"double","description":"Maximum redemption amount of the offer","type":"number"},"maximumRedemptionPerPurchase":{"format":"double","description":"Maximum redemption amount per purchase","type":"number"},"minimumAccumulatedAmount":{"format":"double","description":"Minimum accumulated amount to trigger a redemption","type":"number"},"maximumPurchase":{"format":"int32","description":"Maximum number of purchases that can be redeemed","type":"integer"},"lastReimbursementAmount":{"format":"double","description":"The amount of the last reimbursement made to the user","type":"number"},"lastReimbursementDate":{"format":"date-time","description":"The date of the last reimbursement made to the user","type":"string"},"scheduledReimbursementAmount":{"format":"double","description":"The amount of the next reimbursement","type":"number"},"scheduledReimbursementDate":{"format":"date-time","description":"The date of the next reimbursement","type":"string"},"daysLeft":{"format":"int32","description":"Number of days left on the offer","type":"integer"},"validFrom":{"format":"date-time","description":"Offer valid from date","type":"string"},"validTo":{"format":"date-time","description":"Offer valid to date","type":"string"},"activatedDate":{"format":"date-time","description":"The date when the offer was activated","type":"string"},"declineDate":{"format":"date-time","description":"The date when the offer was declined","type":"string"},"merchantId":{"format":"int64","description":"Merchant id for the offer. If the offer is for a whole brand then this property will be zero.","type":"integer"},"merchantName":{"description":"Merchant name for the offer. If the offer is for a specific merchant then this property will be empty.","type":"string"},"merchantDeclined":{"description":"If the offer has been declined this property will indicate whether the merchant was also delcined","type":"boolean"},"activateOfferOnFirstPurchase":{"description":"Indicates whether the offer will be activated automatically on first purchase or not","type":"boolean"},"relevanceHook":{"$ref":"#/definitions/OfferRelevanceHook","description":"A relevance hook for the offer"},"totalSpendingAtSimilarBrands":{"format":"double","description":"Total spending at similar brands during the offer valid period","type":"number"},"totalSpendingOnOffer":{"format":"double","description":"Total spending at the offer brand/merchant during the offer valid period","type":"number"},"offerSimilarBrandsSpendingRatio":{"format":"double","description":"TotalSpendingOnOffer / (TotalSpendingOnOffer + TotalSpendingAtSimilarBrands)","type":"number"},"merchantLocations":{"description":"Nearby merchant locations","type":"array","items":{"$ref":"#/definitions/MerchantLocation"}},"webUri":{"description":"Web uri to display on the offer","type":"string"},"webUriLabel":{"description":"Label to show instead of raw uri","type":"string"},"seen":{"description":"Indicates if the user has seen this offer","type":"boolean"},"firstSeen":{"format":"date-time","description":"The moment the user first saw this offer","type":"string"},"lastSeen":{"format":"date-time","description":"The moment the user last saw this offer","type":"string"}}},"OffersSummary":{"description":"Offers summary","required":["availableOffers","availableOffersActivated","availableOffersDeclined","offersActivated","offersDeclined","offersNotSeen","offersEnabled","termsAndConditionsAccepted","isReimbursementAccountValid","totalCount"],"type":"object","properties":{"availableOffers":{"format":"int32","description":"Number of available offers","type":"integer"},"availableOffersActivated":{"format":"int32","description":"Number of available offers that the user has activated","type":"integer"},"availableOffersDeclined":{"format":"int32","description":"Number of available offers that the user has declined","type":"integer"},"offersActivated":{"format":"int32","description":"Number of offers that the user has activated","type":"integer"},"offersDeclined":{"format":"int32","description":"Number of offers that the user has declined","type":"integer"},"offersNotSeen":{"format":"int32","description":"Number of offers that the user hasn't seen yet","type":"integer"},"offersEnabled":{"description":"Indicates whether the user has enabled the offers feature","type":"boolean"},"offersEnabledTimestamp":{"format":"date-time","description":"The timestamp of the last toggle (enable/disable) of the offers feature","type":"string"},"termsAndConditionsAccepted":{"description":"Indicates whether the user has accepted the offers terms and conditions","type":"boolean"},"isReimbursementAccountValid":{"description":"Indicates whether the user has a valid reimbursement account","type":"boolean"},"totalCount":{"format":"int32","description":"Total number of rows","type":"integer"}}},"OfferRelevanceHook":{"description":"Offer relevance hook","type":"object","properties":{"relevanceHookDetails":{"description":"A URL for more details for a relevance hook","type":"string"},"text":{"description":"Translated relevance hook text","type":"string"}}},"MerchantLocation":{"description":"Merchant location model","type":"object","properties":{"id":{"format":"int64","description":"Merchant ID.","type":"integer"},"identifier":{"format":"uuid","description":"Unique identifier.","type":"string"},"latitude":{"format":"double","description":"Latitude.","type":"number"},"longitude":{"format":"double","description":"Longitude.","type":"number"},"name":{"description":"Name.","type":"string"},"address":{"description":"Address.","type":"string"},"webpage":{"description":"The URL for the merchant's web page.","type":"string"},"distanceKm":{"format":"double","description":"Distance to merchant in km or null if unknown.","type":"number"}}},"JsonApiErrorDocument[JsonApiBadRequest]":{"description":"A document wrapper for API error responses","required":["errors"],"type":"object","properties":{"errors":{"description":"Errors","type":"array","items":{"$ref":"#/definitions/JsonApiBadRequest"}}}},"JsonApiBadRequest":{"description":"A bad request error object","required":["message"],"type":"object","properties":{"modelState":{"description":"A dictionary of property names (keys) and error messages (values) when creating or updating a resource.","type":"object"},"message":{"description":"The error message","type":"string"}}},"JsonApiErrorDocument[JsonApiError]":{"description":"A document wrapper for API error responses","required":["errors"],"type":"object","properties":{"errors":{"description":"Errors","type":"array","items":{"$ref":"#/definitions/JsonApiError"}}}},"JsonApiError":{"description":"An error object","required":["message"],"type":"object","properties":{"message":{"description":"The error message","type":"string"}}},"JsonApiErrorDocument[JsonApiServerError]":{"description":"A document wrapper for API error responses","required":["errors"],"type":"object","properties":{"errors":{"description":"Errors","type":"array","items":{"$ref":"#/definitions/JsonApiServerError"}}}},"JsonApiServerError":{"description":"A server error object","required":["message"],"type":"object","properties":{"messageDetail":{"description":"The error message detailed description","type":"string"},"stackTrace":{"description":"The stack trace information","type":"string"},"message":{"description":"The error message","type":"string"}}},"JsonApiDocument[Offer]":{"description":"A document wrapper for API responses","required":["data"],"type":"object","properties":{"data":{"$ref":"#/definitions/Offer","description":"Primary data"}}},"JsonApiDocument[ICollection[MerchantLocation]]":{"description":"A document wrapper for API responses","required":["data"],"type":"object","properties":{"data":{"description":"Primary data","type":"array","items":{"$ref":"#/definitions/MerchantLocation"}}}},"JsonApiDocument[RedemptionTransaction[]]":{"description":"A document wrapper for API responses","required":["data"],"type":"object","properties":{"data":{"description":"Primary data","type":"array","items":{"$ref":"#/definitions/RedemptionTransaction"}}}},"RedemptionTransaction":{"description":"A transaction that generates a redemption for an offer","required":["id","redemptionId","offerId","text","amount","redemptionAmount","redemptionType","reimbursementStatus"],"type":"object","properties":{"id":{"format":"int64","description":"Id of the transaction","type":"integer"},"redemptionId":{"format":"int64","description":"Id of the redemption record","type":"integer"},"offerId":{"format":"int32","description":"Id of the offer that the transaction is related to","type":"integer"},"text":{"description":"Transaction text","type":"string"},"date":{"format":"date-time","description":"Transaction's date","type":"string"},"amount":{"format":"double","description":"Transaction's amount","type":"number"},"redemptionAmount":{"format":"double","description":"Amount redeemed for the transaction","type":"number"},"redemptionType":{"description":"Redemption type for the transaction","type":"string"},"reimbursementStatus":{"description":"Reimbursement status","type":"string"},"reimbursementDate":{"format":"date-time","description":"Date of the reimbursement","type":"string"},"scheduledReimbursementDate":{"format":"date-time","description":"Scheduled date of the reimbursement","type":"string"},"reimbursementAccountInfo":{"description":"Reimbursement account info","type":"string","readOnly":true}}},"JsonApiDocument[BrandSpending[],SimilarBrandSpendingDetails]":{"description":"A document wrapper for API responses","required":["data","meta"],"type":"object","properties":{"data":{"description":"Primary data","type":"array","items":{"$ref":"#/definitions/BrandSpending"}},"meta":{"$ref":"#/definitions/SimilarBrandSpendingDetails","description":"Meta object"}}},"BrandSpending":{"description":"Brand spending","required":["brandName","brandId","spentAmount"],"type":"object","properties":{"brandName":{"description":"Brand name","type":"string"},"brandId":{"format":"int64","description":"Brand Id","type":"integer"},"spentAmount":{"format":"double","description":"Amount spent","type":"number"}}},"SimilarBrandSpendingDetails":{"description":"Similar brand spending details","type":"object","properties":{"startDate":{"format":"date-time","description":"The spending period start date","type":"string"},"endDate":{"format":"date-time","description":"The spending period end date","type":"string"}}},"JsonApiDocument[RedemptionTransaction[],RedemptionSummary]":{"description":"A document wrapper for API responses","required":["data","meta"],"type":"object","properties":{"data":{"description":"Primary data","type":"array","items":{"$ref":"#/definitions/RedemptionTransaction"}},"meta":{"$ref":"#/definitions/RedemptionSummary","description":"Meta object"}}},"RedemptionSummary":{"description":"Redemption summary for all offers","required":["activatedOffers","spentAmount","redeemedAmount","nextReimbursementAmount","scheduledReimbursements","totalCount"],"type":"object","properties":{"activatedOffers":{"format":"int32","description":"Number of offers the user has activated","type":"integer"},"spentAmount":{"format":"double","description":"The total amount spent in offers","type":"number"},"redeemedAmount":{"format":"double","description":"Total amount redeemed for all offers","type":"number"},"notReimbursedAmount":{"format":"double","description":"Total amount no reimbursed yet.","type":"number"},"reimbursedAmount":{"format":"double","description":"Total amount reimbursed","type":"number"},"nextReimbursementAmount":{"format":"double","description":"The amount reimbursed to the user on the next reimbursement date","type":"number"},"scheduledReimbursements":{"description":"Redemptions that have not yet been reimbursed","type":"array","items":{"$ref":"#/definitions/Reimbursement"}},"totalCount":{"format":"int32","description":"Total number of rows","type":"integer"}}},"Reimbursement":{"description":"Offer reimbursement","required":["date","account","amount"],"type":"object","properties":{"date":{"format":"date-time","description":"Reimbursement date","type":"string"},"account":{"description":"Reimbursement account","type":"string"},"amount":{"format":"double","description":"Reimbursement amount","type":"number"}}},"JsonApiDocument[ReimbursementAccount[],JsonApiTotalCount]":{"description":"A document wrapper for API responses","required":["data","meta"],"type":"object","properties":{"data":{"description":"Primary data","type":"array","items":{"$ref":"#/definitions/ReimbursementAccount"}},"meta":{"$ref":"#/definitions/JsonApiTotalCount","description":"Meta object"}}},"ReimbursementAccount":{"description":"Reimbursement Account","required":["id","isActive","isVerified","accountType","accountInfo"],"type":"object","properties":{"id":{"format":"int64","description":"The reimbursement account id","type":"integer"},"isActive":{"description":"Indicates whether the reimbursement account is active or not","type":"boolean"},"isVerified":{"description":"Indicates whether the reimbursement account has been verified or not","type":"boolean"},"name":{"description":"The reimbursement account name","type":"string"},"accountType":{"description":"The reimbursement account type name","type":"string"},"accountInfo":{"description":"Account information in the format determined by the account type","type":"string"}}},"JsonApiTotalCount":{"description":"A Json API meta object for returning total count","required":["totalCount"],"type":"object","properties":{"totalCount":{"format":"int32","description":"Total number of rows","type":"integer"}}},"CreateReimbursementAccount":{"description":"Reimbursement Account","required":["accountType","accountInfo"],"type":"object","properties":{"name":{"description":"The reimbursement account name","type":"string"},"accountType":{"description":"The reimbursement account type name","type":"string"},"accountInfo":{"description":"Account information in the format determined by the account type","type":"string"}}},"JsonApiDocument[ReimbursementAccount]":{"description":"A document wrapper for API responses","required":["data"],"type":"object","properties":{"data":{"$ref":"#/definitions/ReimbursementAccount","description":"Primary data"}}},"JsonApiDocument[ReimbursementAccountType[],JsonApiTotalCount]":{"description":"A document wrapper for API responses","required":["data","meta"],"type":"object","properties":{"data":{"description":"Primary data","type":"array","items":{"$ref":"#/definitions/ReimbursementAccountType"}},"meta":{"$ref":"#/definitions/JsonApiTotalCount","description":"Meta object"}}},"ReimbursementAccountType":{"description":"Reimbursement account type","required":["name"],"type":"object","properties":{"id":{"format":"int32","description":"The reimbursement account type id","type":"integer"},"name":{"description":"The reimbursement account type name","type":"string"}}},"TranslationsRequest":{"type":"object","properties":{"context":{"type":"string"},"culture":{"type":"string"}}},"JsonApiDocument[KeyValue[]]":{"required":["data"],"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/KeyValue"}}}},"KeyValue":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"TranslationsContextRequest":{"type":"object","properties":{"key":{"type":"string"},"context":{"type":"string"},"culture":{"type":"string"}}},"JsonApiDocument[CultureLanguage[]]":{"required":["data"],"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/CultureLanguage"}}}},"CultureLanguage":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"culture":{"type":"string"}}}}}